.sidebar{
    background-color: white;

    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    z-index: 200;
}
.sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(246, 241, 241);
}
.sidebar-link img {
    height: 25px;
}
.sidebar-link div {
    font-size: 10px;
    font-family: roboto,arial;

}
.home-button {
height: 70px;
width: 70px;
}